@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Thasadith\ Regular\ 400.ttf'); /* IE9 Compat Modes */
  
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.ttf')
  
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-light .navbar-nav .nav-link {
  font-family: Thasadith;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #000000 !important
}
.PhoneInputInput{
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.PhoneInputInput:focus{
  outline: unset !important;
  color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
  color:  #0D9F98 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:  #0D9F98 !important;
}
.bg-dark {
  background-color: #FFFFFF!important;
}
.navbar-light .navbar-brand {
  color: white !important;
  font-size: 18px;
  font-weight: lighter;
}
.navbar-nav{
  padding-left: 10px;
  padding-right: 10px;
}
.bacground_lightgray {
  background-color: #E0E0E0;
  color: #282828;
  padding-bottom: 30px;
  padding-top: 30px;
}
.bacground_lightbluegray {
  background-color: #CFD8DC;
  padding-bottom: 30px;
  padding-top: 30px;
}
h2.gradient-text {
  color: #34495e;
}
p.sub_text {
  font-size: 16px;
  opacity: .65;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.mt_20{
  margin-top: 20px;
}
.mt_2{
  margin-top: 2px;
}
.mt_10{
  margin-top: 10px;
}
.mb_20{
  margin-bottom: 20px;
}
.mb_2{
  margin-bottom: 2px;
}
.tag_middile{
  padding: 50px;
  margin: 50px;
}
.footer {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  /* max-height: 60px; */
  font-family: 'Muli', sans-serif;
}
.copyright {
  min-height: 40px;
  background-color: #000000;
}
.copyright p {
  text-align: center;
  color: #FFF;
  padding: 10px 0;
  margin-bottom: 0px;
}

#team .card {
  border: none;
  background: #E0E0E0;
}
.card{
  background-color: #E0E0E0;
  border: 0 !important;
}
/* .image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
} */

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  /* -moz-transform: perspective(1000px); */
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

/* .frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
} */
.collapse.show{
  background: #B0EADE;
  text-align: center;
  height: 100vh;
}

.bg_img_front_1 {
  background-image: url('../image/PrimaryPaletteColor.png');
  
}
.bg_img_front_2{
  background-image: url('../image/Accent1.png');
  
}
.bg_img_back{
  background-image: url('../image/Accent2.png');
}

.bg_img_sback_1{
  background-image: url('../image/Fitness.png');
  
}

/* .backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
} */
.back-text{
  color: #FFFFFF;
  text-align: center;
}

.frontside .card,
.backside .card {
  min-height: 250px;
  min-width: 250px;
  border-radius: 0;
}
.backside .card a {
  font-size: 18px;
  color: #058CD5 !important;
  text-decoration: underline !important;
}
.backside .card a:hover {
  color: blueviolet !important;
}
.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.card-body{
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  display: flex;
  
  align-items: center;
  color: #000000;
}
.card-body .second-card{
  color: #FFFFFF !important;
}
.card-body .serv-second-card{
  color: #000 !important;
}
.frontside{
  font-size: 24px;
  line-height: 31px;
  
}
.backside{
  font-size: 18px;
  line-height: 23px;
}
.heading7 {
  font-size: 16px;
  font-weight: 700;
  color: #d9d6d6;
  margin-bottom: 22px;
}
.footer-ul {
  list-style-type: none;
  /* padding-left: 0px;
  margin-left: 2px; */
}
.footer-ul li a {
  color: #a0a3a4;
  transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.empty-page{
  height: 63vh;
  font-size: 40px;
}
.pullDown {
  animation-name: pullDown;
  -webkit-animation-name: pullDown;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
}
.item{
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  
}
.item img{
  -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    
}
.item img:hover{
  -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.img-thumbnail{
    border:0px;
    border-radius:0px;
}
.bg-dark {
  background-color: black!important;
}
.navbar-nav li a{
color:White ;
display :block;
line-height :24px;
text-decoration :none;
}

.navbar-nav .nav-item{
  margin-left: 50px;
  display: flex;
}
.keyimage{
  width: 80%;
  height: 100%;
}
.image{
  width: 70%;
  height: 100%;
  float: right;
}
.link{
  cursor: pointer !important;
  color: #058CD5;
  text-decoration: underline;
}
.link:hover{
  color: blueviolet;
}
@media (max-width: 480px) {
  .image{
    width: 80%;
    float: unset;
  }
  .p-all-100{
    align-items: center;
    text-align: start;
    padding-top: 40px !important;
    float: unset;
  }
  .p-all {
    padding:20px;
  }
  
  .player-wrapper div[style] {
    height: 300px !important;
    width: 300px !important;
  }
  .player-wrapper {
    margin-left: unset;
  }
  .navbar-nav .nav-item{
    margin-top: 40px !important;
    margin-left: unset !important;
  }
  .navbar-nav{
    text-align: center !important;
    align-items: center;
  }
  .lbl_txt{
    font-size: 15px !important;
  }
  .title-txt{
    font-size: 18px !important;
    
  }
  .comp-text{
    height: unset !important;
  }
  .modal-video-body{
    width: 80% !important;
  }
  .modal-video-close-btn{
    width: 25px !important;
    height: 25px !important;
  }
  .react-responsive-modal-modal{
    max-width: "unset";
    padding: "unset";
    margin-top:"80px"
  }
  .player div[style] {
    height: unset !important;
    width: unset !important;
  }
}
.keyimage1{
  width: 50%;
  height: 100%;
}
.bg_img{
  background: url('../image/PrimaryPaletteColor.png');
}
.navbrand{
  width: 30%;
  float: left;
}
@media (max-width: 480px) {
  .navbrand {
    width: 220px;
    height: 67px;
    float: left;
  }
}
.navbar{
  background-color: #FFFFFF!important;
  text-align: center;
  background: #FFFFFF!important;
  font-family: Thasadith;
  text-transform: uppercase;
}
.content{
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-left: 5px;
}
.footer-text{
  padding-top: 25px;
}
.social{
  float: right;
  margin-top: 45px;
}
.react-rotating-text-cursor{
  animation: unset !important;
}
.comp-text{
  width: 100% !important;
  /* height: 75px; */
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-text{
  width: 100% !important;
  border: 1px solid #0D9F98;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.prod-text{
  width: 100% !important;
  border:none;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact{
  width: 100% !important;
  /* height: 75px; */
  border: 1px solid #0D9F98;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
.center-text{
  width: 100% !important;
  height: 60px;
  background: #B0EADE;
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
}
.fade-text{
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}
.header-text{
  width: 100% !important;
  background: #fff;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: start;
  padding: 20px;
}
.lbl_txt{
  text-align: end;
  float: right;
  margin-top: 5px;
}
.p-all-100{
  align-items: center;
  text-align: start;
  padding-top: 100px;
  font-size: 18px;
  line-height: 23px;
}
.p-all{
  padding: 160px;
}
.service-txt{
  align-items: center;
  text-align: start;
  font-size: 18px;
  line-height: 23px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
}
.p-all-60{
  padding: 80px;
}
.txt{
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  align-items: center;
  color: #058CD5;
  text-align: start;
}
.title-txt{
  font-family: 'Muli', sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  padding-top: 5px;
}


/* .player-wrapper iframe{
  max-width: 600px;
} */
.submitBtn{
  width: 304px;
  height: 41.2px;
  background: #0D9F98 !important;
}
.closebtn {
  top: 0;
  right: 10px;
  font-size: 25px;
  font-weight: lighter;
  color: gray !important;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 5px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-light .navbar-toggler{
  border-color: white !important;
}
#__react-alert__ div[style]{
  text-transform: unset !important;
}
.sup_li{
  position: absolute;
  left: 3px;
  top: 5px;
}
.red_star{
  color: #f6113a;
  font-size: 11px;
}
.error-lbl{
  font-size: 11px;
  position: absolute;
  /* left: 15px; */
  right: 17px;
  top: 35px;
  color: #f6113a;
}
.error-lbl-textarea{
  font-size: 11px;
    position: absolute;
    /* left: 15px; */
    right: 17px;
    /* top: 0px; */
    bottom: -21px;
    color: #f6113a;
}
.react-responsive-modal-modal{
  max-width: "unset";
  width: "70%";
  height:"80%";
  padding: "unset";
}

/*Company card*/
.card {
  position:absolute;
  border-radius:10px;
  transition:0.5s;
}
.company .card{
  background: #B0EADE;
  min-width:300px;
  min-height:400px;
  box-shadow:0 20px 50px rgba(0,0,0,.1); 
}
.company .card:hover {
  box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  text-align:center;
  
  padding:20px;
  box-sizing:border-box;
  width:100%;
}
.card .box .img {
  width:180px;
  height:180px;
  margin:0 auto;
  border-radius:50%;
  overflow:hidden;
}
.card .box .img img {
  width:100%;
  height:100%;
}
.card .box h2 {
  font-size:20px;
  color:#058CD5;
  margin:20px auto;
}
.card .box h2 span {
  font-size:14px;
  background-image: url('../image/Accent1.png');
  color:#fff;
  display:inline-block;
  padding:4px 10px;
  border-radius:15px;
}
.card .box p {
  color:#262626;
  vertical-align:bottom;
}
.card .box span {
  display:inline-flex;
}
.card .box ul {
  margin:0;
  padding:0;
}
.card .box ul li {
  list-style:none;
  float:left;
}
.card .box ul li a {
  display:block;
  color:#aaa;
  margin:0 10px;
  font-size:20px;
  transition:0.5s;
  text-align:center;
}
.card .box ul li:hover a {
  color:#058CD5;
  transform:rotateY(360deg);
  cursor: pointer;
}
.gray {
  filter: grayscale(2);
}
.img img:hover{
  -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.img img{
  -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    cursor: pointer;
}

  .frmbtn2{
  width: 120px;
  height: 40px;
  background: #06aea6 0% 0% no-repeat padding-box !important;
  border-radius: 2px !important;
  border-color: black;
  opacity: 1;
  color: rgb(108, 240, 229);
  text-align: center;
  border: inherit;
  font-size: 18px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.frmSbtn2{
  width:inherit;
  height: 80px;
  background: #fff 0% 0% no-repeat padding-box !important;
  border:none;
  opacity: 1;
  color: #000;
  text-align: center;
  font-size: 18px;  
}
.td__header {
  display: flex;
  flex-direction: row;
}
.td__Prodheader {
  display: flex;
  flex-direction: row;
  background: #fff 0% 0% no-repeat padding-box !important;
  border: 2px rgba(0, 0, 0, 0.25);
  box-shadow:0 20px 50px rgba(0,0,0,.1); 
}

.td__header-content {
  flex: 1;
  display: flex;
  justify-content: Center;
  align-items: Center;
  flex-direction: column;
  
  margin-top: 1.5rem;
}

.td__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color:  #0D9F98;
}
.td__header-content h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.04em;
  color:  grey;
}

.td__header-content h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
  color:  #0D9F98;
  margin-top: 1.5rem;
}

.td__Prodheader-content h3 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 30px;
  line-height: 26px;
  color: grey;
  margin-top: 1.5rem;

  box-shadow:0 20px 50px rgba(0,0,0,.1); 
}
.td__Prodheader-content h3:hover {
  color:  #0D9F98 !important;
}
.td__Prodheader-content p:hover {
  color:  #0D9F98 !important;
}
.td__Prodheader-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: grey;
  margin-top: 1.5rem;
}
.td__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: grey;
  margin-top: 1.5rem;
}

.td__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
   align-items: center;
  margin-top: 1.5rem;
  
}

.td__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .td__header {
      flex-direction: column;
  }

  .td__header-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .td__header-content h2 {
      font-size: 48px;
      line-height: 60px;
  }

  .td__header-content h3 {
      font-size: 16px;
      line-height: 24px;
  }
  .td__header-content h1 {
    font-size: 50px;
    line-height: 62px;
}

.td__header-content p {
    font-size: 14px;
    line-height: 22px;
}

  
  
}

@media screen and (max-width: 490px) {
  .td__header-content h2 {
      font-size: 34px;
      line-height: 48px;
  }

  .td__header-content h3 {
      font-size: 12px;
      line-height: 24px;
  }
  .td__header-content h1 {
    font-size: 36px;
    line-height: 50px;
}

.td__header-content p {
    font-size: 10px;
    line-height: 22px;
}

}
.td__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}
.leftbg{
  top: 85px;
  left: 0px;
  width: 100%;
  height: 599px;
  
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 1;
}
.rightbg{
  background-color: #fff;
  height: 599px;
}
.txt-reg{
  top: 30px !important;
  left: inherit !important;
  width: inherit !important;
  height: inherit !important;
  font-size: 12px !important;
}
.input-reg{
  top: 200px !important;
  left: 0px !important;
}
.wrap {text-align: center;}
.resp {display: inline-block; text-align: left; width: 21%; margin-right: 1%;}
.resp.fixed {width: 100px; margin-right: 10px;}